.sub-page {
    background-color: white;
    padding: 0 10px 10px 10px;
    margin: 10px;
    width: 100vw;
    max-width: 1800px;
    height: 94vh;
    display: flex;
    background-color: #fff;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
  

  }
  .sub-page h1{
    width:100%;
    text-align: left;
    padding: 0 0 0 0;
  }


  .sub-page .container{
    border:1px solid black;
    width: 100%;
    height: 100%;
    max-height: 240px;
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
    align-items: center;
  }

  .Income-card, .Expense-card, .Balance-card{
    width:400px;
    color:black;
    border:1px solid black;
    position: relative;
    height:220px;
    border-radius: 7px;
    outline: none;
    border: none;
    padding:10px;
  }

  .Income-card{ 
    background-color: rgba(0, 255, 174, 0.139);
    
  }
  .Expense-card{background-color: rgba(250, 235, 215, 0.375);}
  

  .Balance-card{
    background-color: beige;
  }
  /*im working on the dashboard page Nice*/
  /*Wrote this 